@using System.Data;
@{
    ViewData["Title"] = "LoanApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var ListData = TempData["data"] as DataSet;
    var AccountsListData = ListData?.Tables[0];
    var schemeList = ListData?.Tables[1];
}


<h1>Loan Application</h1>

<div class="container" id="memberSearchSection">
    <div class="row text-center">
        <div class="col-md-12 ">
            <input id="membershipNumber" class="col-md-6" style="height: 40px;" placeholder="Enter Membership Number" />
            <button id="VerifyButton" class="col-md-4 btn btn-outline-success">Verify</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px;align-content:flex-start">

    <div class="col-md-8 col-lg-8 col-sm-8 text-start">
        @if (AccountsListData?.Rows.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th>SrNo</th>
                    <th>Membership Number</th>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Amount</th>
                    <th>Scheme</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                @{
                    var srNO = 1;
                }
                @for (int i = 0; i < AccountsListData?.Rows.Count; i++)
                {
                    <tr>
                        <td>@srNO</td>
                        <td>@AccountsListData.Rows[i]["Fld_MembershipNumber"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_MemberName"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_AccountNumber"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_Amount"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_SchemeName"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_SchemeType"]</td>
                        <td>@AccountsListData.Rows[i]["Fld_Status"]</td>
                    </tr>
                    srNO++;
                }


            </table>
        }
        else
        {
            <h3 class="text-center">No Records Availble!</h3>
        }
    </div>

    <div class="col-md-4 col-lg-4 col-sm-4" style="display:none" id="memberDetailsSection">
        <div class=" card-body">

            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Member Name</label>
                <input readonly="readonly" id="memberName" class="col-md-8" type="text" />
            </div>


            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Membership Number</label>
                <input readonly="readonly" id="membershipNo" class="col-md-8" type="text" />
            </div>




            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Mobile Number</label>
                <input readonly="readonly" maxlength="10" id="mobileNumber" class="col-md-8" type="text" />
            </div>



            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Email Address</label>
                <input readonly="readonly" id="emailAddress" class="col-md-8" type="text" />
            </div>

            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">PAN Number</label>
                <input id="panNumber" class="col-md-8" type="text" />
            </div>

            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Required Loan</label>
                <input id="RequiredLoanAmount" class="col-md-8" type="number" />
            </div>

            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Scheme</label>
                <select id="loanScheme">
                    @for (int i = 0; i < schemeList?.Rows.Count; i++)
                    {
                        <option value=@schemeList.Rows[i]["Fld_SchemeCode"]>@schemeList.Rows[i]["Fld_SchemeName"]</option>
                    }
                </select>
            </div>

            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Promise Date</label>
                <input id="promiseToPayDate" class="col-md-8" type="date" />
            </div>
            <div class="col-md-12" style="margin:20px">
                <label class="col-md-4" style="float:left">Sanction Date</label>
                <input id="loanSanctionDate" class="col-md-8" type="date" />
            </div>


        </div>
        <div class="card-footer ">
            <button style="margin-top:50px" id="ApplyButton" class="btn btn-success" name="Apply">Apply</button>
        </div>
    </div>


</div>

@section Scripts{

    <script src="/cp/loanapplication.js"></script>

}
