@using System.Data;
@{
    ViewData["Title"] = "LoanApplication";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    var ListData = TempData["data"] as DataSet;
    var AccountsListData = ListData?.Tables[0];
    var schemeList = ListData?.Tables[1];
}



<div class="row">
    <!--  page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Apply Loan</h1>
    </div>
    <!-- end  page header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">To Apply For Loan Please Enter Membership Number and Verify</div>
                    <div class="col-md-6">
                        <input style="padding:5px 10px" id="membershipNumber" placeholder="Enter Membership Number" />
                        <button id="VerifyButton" style="margin-left:20px;padding:5px 20px" class="btn btn-success">Verify</button>
                    </div>


                </div>

            </div>
            <div class="panel-body" style="display:none" id="memberDetailsSection">
                <div class="row">
                    <div class="form-group col-lg-6 ">
                        <label>Member Name</label>
                        <input readonly="readonly" id="memberName" class="form-control">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Membership Number</label>
                        <input readonly="readonly" id="membershipNo" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="form-group col-lg-6 ">
                        <label>Mobile Number</label>
                        <input readonly="readonly" maxlength="10" id="mobileNumber" class="form-control">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email</label>
                        <input readonly="readonly" id="emailAddress" class="form-control" placeholder="Enter text">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>PAN Number</label>
                        <input  id="panNumber" class="form-control" placeholder="Enter text">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Account Scheme</label>

                        <select class="form-control" id="loanScheme">
                            @*<option value="0">Select Scheme</option>*@
                            @for (int i = 0; i < schemeList?.Rows.Count; i++)
                            {
                                <option value=@schemeList.Rows[i]["Fld_SchemeCode"]>@schemeList.Rows[i]["Fld_SchemeName"]</option>
                            }


                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Promise Date</label>
                        <input class="form-control" id="promiseToPayDate" type="date">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Sanction Date</label>
                        <input id="loanSanctionDate" type="date" class="form-control" placeholder="Enter text">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Required Loan</label>
                        <input id="RequiredLoanAmount" class="form-control" type="number" placeholder="Enter number">
                    </div>

                                  

                </div>
                <div class="panel-footer">
                    <button type="submit" id="ApplyButton" class="btn btn-primary">Apply</button>

                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                All Records

            </div>
            <div class="panel-body">
                @if (AccountsListData?.Rows.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                                                     <th>SrNo</th>
                                    <th>Membership Number</th>
                                    <th>Name</th>
                                    <th>Account Number</th>
                                    <th>Amount</th>
                                    <th>Scheme</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>

                            </thead>
                            <tbody>
                                @{
                                    var srNO = 1;
                                }
                                @for (int i = 0; i < AccountsListData?.Rows.Count; i++)
                                {
                                    <tr class="odd gradeX">
                                        <td class="center">@srNO</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_MembershipNumber"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_MemberName"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_AccountNumber"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_Amount"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_SchemeName"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_SchemeType"]</td>
                                        <td class="center">@AccountsListData.Rows[i]["Fld_Status"]</td>
                                    </tr>
                                    srNO++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h3 class="text-center">No Records Availble!</h3>
                }
            </div>
        </div>
        <!--End Advanced Tables -->

    </div>
</div>





@section Scripts{


    <script>
        $('#side-menu li').removeClass('selected')
        $('#menu-nav-loanapplication').addClass('selected')

    </script>
    <script src="/cp/loanapplication.js"></script>

}
